<ion-content>


  <br/>
  <ion-item href="/home">
  <div class="logo">
    <ion-img src="../../assets/logos/Logo.jpeg"></ion-img>
  </div>
</ion-item>

  <br/>
  <br/>
  <br/>

<div class="input-div">
  <ion-item>
  <h3>Usuário</h3>
  <ion-label class="nome-label"></ion-label> <br/><br/>
  </ion-item>
  <ion-item>
  <ion-input class="inputs" placeholder="Insira o usuário" ></ion-input>
</ion-item>
</div>

<div class="input-div">
  <ion-item>
  <h3>Senha</h3>
  <ion-label class="nome-label"></ion-label> <br/><br/>
  </ion-item>
  <ion-item>
  <ion-input class="inputs" type="password" placeholder="Insira a senha" ></ion-input>
</ion-item>
</div>

<div class="input-div">
  <ion-item>
  <h3>Repita a Senha</h3>
  <ion-label class="nome-label">Repita sua senha</ion-label> <br/><br/>
  </ion-item>
  <ion-item>
  <ion-input class="inputs" type="password" placeholder="Repita a senha" ></ion-input>
</ion-item>
</div>


<div class="button-2">
  <ion-buttons>
    <ion-button color="primary">Cadastrar</ion-button>
</ion-buttons>
</div>

<br/>
<br/>
<br/>

<ion-item href="/login">
<div class="criar-conta">
  <h5><strong>Já tem sua conta?</strong></h5>&nbsp;&nbsp;
  <h5>Faça login!</h5>
</div>
</ion-item>

</ion-content>
