.input-div {
    padding: 10px;
   
    
}

.criar-conta {
 text-align: center;

 align-items: center;
 justify-content: center;

}

.button-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.inputs {
    border-radius: 10px;
}

.nome-label {
    color: #ffff;
    font-size: 15px;
}

.logo {
    max-width: 40%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
  }
